body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: white;
}

.navbar {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px 0;
}

.navbar a {
    color: black;
    padding: 9px 14px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.navbar a:hover {
    background-color: #c6bbbb;
}

h1 {
    margin: 20px 0;
    font-size: 2em;
    color: black;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: white;
    color: black;
}


tr:hover {
    background-color: #a8a8a8;
}

.btn-acoes {
    display: center;
    gap: 10px;
}
.btn-editar, .btn-excluir, .btn-atualizar{
    padding: 5px;
    cursor: pointer;
    border: none;
    background: none;
}
.btn-editar img, .btn-excluir img, .btn-atualizar img {
    width: 20px;
    height: 20px;
}